[package]
name = "birc-rapidnj"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
fixedbitset = "0.4.2"
petgraph = "0.6.4"
rand = "0.8.5"
